* {
	font-size: 20px;
	font-family: Arial, "sans-serif";
}
.container {
	margin: auto;
	width: 80%;
}
/*_______HEADER & NAV________*/
header {
	background-color: #678b99;
	margin-bottom: 2px;
	padding: 12px 3px;
}
header .sphead{
	color: white;
}
header .logo{
	vertical-align: middle;
}
.menu{
	background-color: #ccd5d0;
	padding: 10px;
	margin-bottom: 5px;
}
.menu a{
	text-decoration: none;
	color: white;
	margin-left: 15px;
}
.menu a:hover{
	border-bottom: solid 1px;
	color: snow;
}
/*_________HEADER & NAV END________*/

/*_________PICTURES MAIN________*/

.row1 ,.row2{
	margin-bottom: 10px;
	font-size: 0;
}
.picmain{
	width: 100%;
	height: 100%;
}
.filler{
	width: 10%;
	display: inline-block;
}
.imgContainer{
	height: 300px;
	width: 45%;
	display: inline-block;
}
/*making it responsive (kind of)*/
@media screen and (min-width: 1450px){
	.imgContainer{
		height: 500px;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1450px){
	.imgContainer{
		height: 400px;
	}
}
@media screen and (max-width: 800px){
	.imgContainer{
		height: 200px;
	}
}
@media screen and (max-width: 550px){
	.imgContainer{
		height: 150px;
	}
}
/*responsive end*/
/*_________PICTURES MAIN END________*/

/*_________FOOTER________*/

footer{
	padding: 12px;
	background-color: #acc1d4;
	text-align: center;
}
footer .spfoot{
	color: white;
	vertical-align: middle;
}
/*_________FOOTER END________*/
